# To execute this docker compose yml file use `docker compose -f docker-compose-v3-video.yml up`
# Add the `-d` flag at the end for detached execution
# To stop the execution, hit Ctrl+C, and then `docker compose -f docker-compose-v3-video.yml down`

networks:
    webautotest_network:
        external: true

services:
    chrome:
        image: selenium/node-chrome:4.39.0-20251212
        platform: linux/amd64
        shm_size: 2gb
        depends_on:
            - selenium-hub
        environment:
            - SE_EVENT_BUS_HOST=selenium-hub
        networks:
            - webautotest_network

    edge:
        image: selenium/node-edge:4.39.0-20251212
        platform: linux/amd64
        shm_size: 2gb
        depends_on:
            - selenium-hub
        environment:
            - SE_EVENT_BUS_HOST=selenium-hub
        networks:
            - webautotest_network

    firefox:
        image: selenium/node-firefox:4.39.0-20251212
        shm_size: 2gb
        depends_on:
            - selenium-hub
        environment:
            - SE_EVENT_BUS_HOST=selenium-hub
        networks:
            - webautotest_network

    chrome_video:
        image: selenium/video:ffmpeg-8.0-20251212
        volumes:
            - ./reports/videos:/videos
        depends_on:
            - chrome
        environment:
            - DISPLAY_CONTAINER_NAME=chrome
            - SE_NODE_GRID_URL=http://selenium-hub:4444
            #      - FILE_NAME=chrome_video.mp4
            - SE_VIDEO_FILE_NAME=auto
        networks:
            - webautotest_network

    edge_video:
        image: selenium/video:ffmpeg-8.0-20251212
        volumes:
            - ./reports/videos:/videos
        depends_on:
            - edge
        environment:
            - DISPLAY_CONTAINER_NAME=edge
            - SE_NODE_GRID_URL=http://selenium-hub:4444
            #      - FILE_NAME=edge_video.mp4
            - SE_VIDEO_FILE_NAME=auto
        networks:
            - webautotest_network

    firefox_video:
        image: selenium/video:ffmpeg-8.0-20251212
        volumes:
            - ./reports/videos:/videos
        depends_on:
            - firefox
        environment:
            - DISPLAY_CONTAINER_NAME=firefox
            - SE_NODE_GRID_URL=http://selenium-hub:4444
            #      - FILE_NAME=firefox_video.mp4
            - SE_VIDEO_FILE_NAME=auto
        networks:
            - webautotest_network

    selenium-hub:
        image: selenium/hub:4.39.0-20251212
        container_name: selenium-hub
        ports:
            - "4442:4442"
            - "4443:4443"
            - "4444:4444"
        networks:
            - webautotest_network

    # File browser to manage the videos from local volume
    file_browser:
        image: filebrowser/filebrowser:latest
        container_name: file_browser
        restart: always
        ports:
            - "8081:80"
        volumes:
            - ./reports/videos:/srv
        environment:
            - FB_NOAUTH=true
        networks:
            - webautotest_network
