version: "3"
networks:
    webautotest_network:
        external: true

services:
    selenium-hub:
        image: selenium/hub:latest
        container_name: selenium-hub
        ports:
            - "4442:4442"
            - "4443:4443"
            - "4444:4444" # 标准Hub端口
        networks:
            - webautotest_network

    chrome-node:
        image: selenium/node-chrome:latest
        container_name: chrome-node
        shm_size: 2gb # Chrome需要较大的共享内存
        depends_on:
            - selenium-hub
        environment:
            - SE_EVENT_BUS_HOST=selenium-hub
            - SE_EVENT_BUS_PUBLISH_PORT=4442
            - SE_EVENT_BUS_SUBSCRIBE_PORT=4443
            - SE_NODE_MAX_SESSIONS=4 # 最大并发会话数
        networks:
            - webautotest_network

    firefox-node:
        image: selenium/node-firefox:latest
        container_name: firefox-node
        shm_size: 2gb
        depends_on:
            - selenium-hub
        environment:
            - SE_EVENT_BUS_HOST=selenium-hub
            - SE_EVENT_BUS_PUBLISH_PORT=4442
            - SE_EVENT_BUS_SUBSCRIBE_PORT=4443
            - SE_NODE_MAX_SESSIONS=4
        networks:
            - webautotest_network

    edge-node:
        image: selenium/node-edge:latest
        container_name: edge-node
        shm_size: 2gb
        depends_on:
            - selenium-hub
        environment:
            - SE_EVENT_BUS_HOST=selenium-hub
            - SE_EVENT_BUS_PUBLISH_PORT=4442
            - SE_EVENT_BUS_SUBSCRIBE_PORT=4443
            - SE_NODE_MAX_SESSIONS=4
        networks:
            - webautotest_network

    chrome-node-2:
        image: selenium/node-chrome:latest
        container_name: chrome-node-2
        shm_size: 2gb # Chrome需要较大的共享内存
        depends_on:
            - selenium-hub
        environment:
            - SE_EVENT_BUS_HOST=selenium-hub
            - SE_EVENT_BUS_PUBLISH_PORT=4442
            - SE_EVENT_BUS_SUBSCRIBE_PORT=4443
            - SE_NODE_MAX_SESSIONS=4 # 最大并发会话数
        networks:
            - webautotest_network

    chrome-node-3:
        image: selenium/node-chrome:latest
        container_name: chrome-node-3
        shm_size: 2gb # Chrome需要较大的共享内存
        depends_on:
            - selenium-hub
        environment:
            - SE_EVENT_BUS_HOST=selenium-hub
            - SE_EVENT_BUS_PUBLISH_PORT=4442
            - SE_EVENT_BUS_SUBSCRIBE_PORT=4443
            - SE_NODE_MAX_SESSIONS=4 # 最大并发会话数
        networks:
            - webautotest_network
